<div class="card container" >
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Welcome</h3>
    </div>
    <div class="panel-body">
      <div class="text-center ">
        <img class=" text-center img-responsive" [src]='"assets/logo/logo.jpg"'  alt="Acme Product Management" style="width: 900px;height: 400px ;margin-left: 90px">
        <div class="text-center">
                <p>
                    Developed by
                </p>
            </div>
            <div class="text-center">

                    <p>
                     @Ratnesh Dubey
                    </p>
                    <p>
                       ratneshdubey194@gmail.com
                    </p>

            </div>

    </div>
    </div>
</div>
</div>

